* {
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,  #E0F7FA, #B2EBF2);
}

.container {
    width: 85%;
    max-width: 700px;
    min-height: 60%;
    border: 2px solid #ffffff; 
    border-radius: 12px;
    padding: 30px;
     background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(12px);
    box-shadow: 0 8px 32px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h2 {
    width: 100%;
    margin: 0 0 30px 0;
    font-size: 28px;
    color: #0A3D62; 
}

.input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
}

.input-box input {
    width: 250px;
    padding: 10px 14px;
    font-size: 16px;
    border: 1.5px solid #90CAF9;
    border-radius: 8px;
    outline: none;
    background-color:  #F5F7FA;; 
    color: #0A3D62;
}

.input-box input:focus {
    border-color: #42A5F5;
}

.input-box button {
    padding: 10px 18px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #42A5F5;
    color: white;
    transition: background-color 0.3s ease;
}

.input-box button:hover {
    background-color: #1E88E5;
}

.output {
    text-align: center;
    margin-top: 20px;
    line-height: 1.6;
    color: #0A3D62;
}

.output img {
    margin: 15px 0;
    border-radius: 8px;
     background: rgba(255,255,255,0.6);
    padding: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.25);
}

.output h3 {
    font-size: 24px;
    margin: 10px 0;
    color: #1565C0;
}

.output p {
    font-size: 16px;
    margin: 6px 0;
    color: #0A3D62;
}
